/* Body, imports and utility classes */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-bg-color: #FFFFFF;
    --primary-content-color: #4A5BBE;
    --secondary-content-color: #333C66;
    --support-content-color: #BFC6DD;
    --header-navigation-color: #888991;
    --experience-content-color: #666D8C;

    --site-width: 960px;
    --heading-width: 600px;
    --section-margin: 124px;
    --header-height: 80px;

    --heading: 48px;
    --sub-heading: 24px;
    --primary-content: 16px;

    --regular: 400;
    --medium: 600;
    --bold: 700;
    --extra-bold: 800;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--main-bg-color);
}

section {
    margin-bottom: var(--section-margin);
}

.container {
    max-width: var(--site-width);
    margin: 80px auto;
    padding: 0 24px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.transition-in {
    animation: transitionIn 0.75s;
}

.details {
    font-size: var(--sub-heading);
    color: var(--secondary-content-color);
}

/* Header and Navigation */

header {
    height: var(--header-height);
}

.navigation > .navigation-list {
    display: flex;
    list-style-type: none;
}

.navigation > .navigation-list > .navigation-item > .navigation-link {
    color: var(--header-navigation-color);
    font-size: var(--primary-content);
    letter-spacing: 0.04em;
    text-decoration: none;
    margin-left: 96px;
}

.navigation > .navigation-list > .navigation-item > .navigation-link:hover {
    color: var(--primary-content-color);
    transition-delay: 150ms;
}

/* Headings and Titles */

.heading-primary {
    font-size: var(--heading);
    font-weight: var(--bold);
    color: var(--primary-content-color);
}

.heading-secondary {
    font-size: var(--heading);
    font-weight: var(--extra-bold);
    color: var(--secondary-content-color);
}

.heading-sub {
    font-size: var(--primary-content);
    color: var(--support-content-color);
}

.heading-margin > h1, h5 {
    margin: 8px 0;
}

/* Introductory Content */

.hero {
    border: 1px var(--primary-content-color) solid;
    border-radius: 10px;
    padding: 72px;
    position: relative;
}

.hero > .heading-secondary {
    max-width: var(--heading-width);
}

.button-primary {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: var(--bold);
    padding: 1.1rem 2rem;
    border-radius: 10px;
    background-color: var(--primary-content-color);
    position: absolute;
    margin-top: 48px;
}

.button-primary:hover {
    background-color: var(--secondary-content-color);
    box-shadow: 5px 10px var(--header-navigation-color);
}

.content-primary {
    font-size: var(--sub-heading);
    color: var(--secondary-content-color);
    padding-left: 32px;
    border-left: 4px var(--primary-content-color) solid;
    line-height: 1.4em;
}

/* Technology Section */

.technologies-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 64px;
}

.technology {
    font-weight: var(--medium);
    font-size: var(--sub-heading);
    margin: 16px;
}

.technology-label {
    color: var(--secondary-content-color);
}

.technology-experience {
    color: var(--experience-content-color);
}

.technology-experience::before {
    content: "\2022";
    margin: 0 .5rem;
    font-weight: var(--regular);
    color: var(--support-content-color);
}

/* Footer */

#footer {
    border: 1px var(--primary-content-color) solid;
    border-radius: 10px;
    padding: 24px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-note {
    color: var(--primary-content-color);
    font-size: var(--primary-content);
}

.footer-list {
    display: flex;
    list-style-type: none;
}

.footer-list > .footer-item > .footer-link {
    color: var(--primary-content-color);
    font-size: var(--primary-content);
    letter-spacing: 0.04em;
    text-decoration: none;
    margin-left: 48px;
}

.footer-list > .footer-item > .footer-link:hover {
    color: var(--secondary-content-color);
}

/* Animations and Transitions */

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- Media Queries --- */

/* Mobile - Portrait and Landscape */

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        .navigation > .navigation-list {
            display: none;
        }

        .hero {
            padding: 36px;
        }

        .heading-margin > .heading-primary, .heading-secondary {
            font-size: 24px;
        }

        .heading-margin > .heading-sub {
            font-size: 14px;
        }

        .button-primary {
            margin-top: 12px;
        }

        .technologies-list {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 64px;
        }

        .technology {
            font-size: var(--primary-content);
        }

        .content-primary {
            font-size: var(--primary-content);
        }

        .footer-list {
            display: none;
        }
}
