/* Body, imports and utility classes */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-bg-color: #FFFFFF;
    --primary-content-color: #4A5BBE;
    --secondary-content-color: #333C66;
    --support-content-color: #BFC6DD;
    --header-navigation-color: #888991;

    --medium: 600;
    --bold: 700;
    --extra-bold: 800;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--main-bg-color);
}

section {
    margin: 124px auto;
}

.container {
    max-width: 960px;
    margin: 80px auto;
    padding: 0 24px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 416px;
}

.main-heading {
    font-size: 48px;
    font-weight: var(--bold);
    color: var(--primary-content-color);
}

.secondary-heading {
    font-size: 48px;
    font-weight: var(--extra-bold);
    color: var(--secondary-content-color);
}

.support-heading {
    font-size: 16px;
    color: var(--support-content-color);
}

/* Header and Navigation */

header {
    height: 80px;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul > li > a {
    color: var(--header-navigation-color);
    font-size: 16px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding: 36px;
}

nav > ul > li > a:hover {
    color: var(--primary-content-color);
    transition-delay: 150ms;
}

/* Introductory Content */

.description {
    border: 1px var(--primary-content-color) solid;
    border-radius: 10px;
    padding: 72px;
}

.description > h1, h5 {
    margin: 8px 0;
}

.description > .secondary-heading {
    max-width: 600px;
}

/* --- Media Queries --- */

/* Tablet - Portrait and Landscape */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
        section {
            margin: 120px auto;
        }

        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 124px;
        }

        .grid > .illustration {
            position: relative;
            justify-self: center;
            align-self: center;
        }
}

/* Mobile - Portrait and Landscape */

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        section {
            margin: 64px auto;
        }

        .container > nav > ul {
            display: none;
        }

        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 64px;
        }

        .grid > .illustration {
            display: none;
        }
}
