@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-bg-color: #29313D;
    --primary-content-color: #F6C15C;
    --secondary-content-color: #999999;
    --header-content-color: #EAEBED;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--main-bg-color);
}

header {
    height: 80px;
}

header > .container {
    max-width: 1600px;
    margin: 80px auto;
    padding: 0 24px;
}

header > .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > nav > ul {
    display: flex;
    list-style-type: none;
}

.container > nav > ul > li > a {
    color: var(--secondary-content-color);
    font-size: 16px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding: 36px;
}

.container > nav > ul > li > a:hover {
    color: var(--primary-content-color);
    transition-delay: 150ms;
}

/* Mobile - Portrait and Landscape */

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
        .container > nav > ul {
            display: none;
        }
}
